.portfolio {
    padding: 10px;
    border: 1px solid #999;
    margin-top: 5px;
    margin-bottom: 5px;
}

.portfolio__img {
    margin-top: 60px;
    width: 100%;
    @include tablets {
        margin-top: 70px;
    }
    @include phones {
        margin-top: 50px;
    } // border: 1px solid #000000;
}

.portfolio__block {
    position: relative;
}

.portfolio__block-title {
    margin-top: 25px;
    margin-bottom: 5px;
    text-align: center;
    color: #1aa5e0;
    font-size: 22px;
}

.portfolio__block-link-git {
    color: #000;
    position: absolute;
    font-size: 16px;
    left: 50%;
    transform: translate(-50%);
    top: 10px;
    text-decoration: none; // color: #000;
    transition: color 0.5s;
    &:hover {
        color: #1aa5e0;
    }
    &--front {
        @include tablets {
            top: 300px;
        }
        @include phones {
            top: 10px;
        }
    }
    &--back {
        @include phones {
            display: none;
        }
    }
}

.portfolio__block-link {
    position: absolute;
    font-size: 16px;
}

.portfolio__block-link--front {
    left: 10px;
    top: 10px;
    @include phones {
        top: 240px;
    }
}

































